<div class="container">
  <div class="row">
    <div class="col col-12">
      <!-- begin c-hero -->

      <div>
         <div style="background-image: url('/images/bct-logo.png')"></div>
        <hr />
        <h2 id="available-for-early-access-on-steam">Available for Early Access on Steam</h2>
        <iframe src="https://store.steampowered.com/widget/824450/" frameborder="0" width="646" height="190" align="center"></iframe>
      </div>

      <div class="hero" style="background-image: url('{{ site.hero-image | relative_url }}')"> 
        <!--
        <div class="hero__content">
          <h1 class="hero__title wow fadeInUp">{{ site.hero-title }}</h1>
          <div class="hero__subtitle wow fadeInUp" data-wow-delay=".2s">{{ site.hero-subtitle }}</div>
        </div>
      -->
      </div>
      <!-- end hero -->
    </div>
  </div>
</div>